<meta charset="UTF-8">
<title>Cauculadora de IMC</title>
<script>
    (function () {
        function calcImc(peso, autura)
        {
            var _imc = peso / (autura * autura);
            var _msg = function (imc)
            {
                if( imc < 16 ){
                    return 'Abaixo do peso: Magreza severa.';
                } else if( imc < 17 ){
                    return 'Abaixo do peso: Magreza moderada.';
                } else if( imc < 18.50 ){
                    return 'Abaixo do peso: Magreza leve.';
                } else if( imc < 25 ){
                    return 'Normal.';
                } else if( imc < 30 ){
                    return 'Excesso de peso: Pré-obeso.';
                } else if( imc < 35 ){
                    return 'Obesidade I Grau.';
                } else if( imc < 40 ){
                    return 'Obesidade II Grau.';
                } else{
                    return 'Obesidade III Grau.';
                };
            }
            return {
                imc: _imc,
                msg: _msg(_imc)
            }
        }

        var _peso    = prompt('Digite seu peso:');
        var _autura  = prompt('Digite sua altura em metro:');
        var _r       = calcImc(_peso, _autura);

        _r = _r.msg + ' IMC: ' + _r.imc;

        console.log(_r);
        alert(_r);
    })()
</script>